In [1]:
myList = list() # 비어있는 리스트를 생성
myList = [] # list를 literal로 표현(코드상)
myList = [1,2,3] # 3개의 값을 가지는 list 생성
myList = [1,2,14,True,"아우성!!"] # 모든 데이터 타입 가능
MyList = [10,["Show","me","the","money"],3.14,True] # 리스트안에 또 다른 자료구조를 넣을 수 있어요

In [2]:
print(MyList[2])

3.14

In [4]:
print(MyList[1][3])

money

In [5]:
MyList[-1]

True

In [6]:
print(MyList[0:1]) #앞은 inclusive, 뒤는 exclusive #리스트 형식으로 출력

[10]

In [ ]:
# 인덱싱과 슬라이싱

In [8]:
MyList[1][2:] # 슬라이싱-> 리스트 타입으로 출력하게 됨

['the', 'money']

In [9]:
MyList[1][3]

'money'

## 리스트의 연산
##### list를 서로 연결
##### R에서는 벡터끼리 더해줬었음

In [2]:
# list의 연산 # 연결해준댜 # connect
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
a[0] = 5 # a리스트의 0번째에 5를 넣음

In [3]:
a

[1, 2, 3]

In [4]:
a[0:1] = [7,8,9] # slicing으로 출력된 리스트를 [7,8,9]로 대체하라는 뜻
a

[7, 8, 9, 2, 3]

In [5]:
a[3:] = []       #slicing을 통해 나온 [2.3]을 []빈 리스트로 대체
a

[7, 8, 9]

In [20]:
a = [1,2,3]
a[0] = [7,8,9]    # indexing은 출력된 요소-> 리스트로 대체,
a

[[7, 8, 9], 2, 3]

In [21]:
a = [1,2,3] # a[1]만 지우려면?
#del a[1]
a[1:2]=[]
a

[1, 3]

##  list에 적용할 수 있는 함수

In [22]:
a=[1,2,3]
a.append("Hello")
a

[1, 2, 3, 'Hello']

In [23]:
a.append([4,5,6])     # append는 그냥 덧붙이는 것,, 4번째 칸에 리스트가 들어감
a

[1, 2, 3, 'Hello', [4, 5, 6]]

In [24]:
a.append(7)
a

[1, 2, 3, 'Hello', [4, 5, 6], 7]

### append 는 리스트 맨 마지막 칸을 생성 그 안에 데이터를 저장해요!

In [26]:
a = [1,2,3]
a.extend([4,5,6]) # Extend는 리스트를 확장
a

[1, 2, 3, 4, 5, 6]

In [30]:
a = [7,3,9,4,6,1,8]

In [33]:
# a 리스트를 정렬 하려면?
a.sort() # 오름차순 정렬 # 원본이 변경
print(a)
b = [7,3,9,55,6,1,77]
print(sorted(b))

[1, 3, 4, 6, 7, 8, 9]
[1, 3, 6, 7, 9, 55, 77]

## sort는 list가 가지고 있는 함수 # 원본이 변함
## sorted는 파이썬이 제공하는 함수 # 원본이 변하지 않음

In [36]:
som = ["Hello","kaka","World","haha"]   
# som.sort() 실행
# ['Hello', 'World', 'haha', 'kaka']     # 결과값
# 기본; 오름차순 정렬
# 아스키 코드 순 정렬

In [44]:
a = ["김연아","홍길동","설현","신사임당","최길동"]
a.sort()
a

['김연아', '설현', '신사임당', '최길동', '홍길동']

In [47]:
# 내림차순 정렬은?
a = ["김연아","홍길동","설현","신사임당","최길동"]
a.reverse() # 역으로 나열하기
# ['최길동', '신사임당', '설현', '홍길동', '김연아']
a.sort(reverse=True) # 거꾸로 나열 
a # 결과값: ['홍길동', '최길동', '신사임당', '설현', '김연아']

['홍길동', '최길동', '신사임당', '설현', '김연아']

In [ ]:
#전체 #주석? 어캐해,,눈물 ctrl+/

In [3]:
a = [1,2,3,4,5]
print(a.index(2)) #찾은 위치, 인덱스번호를 알려줌
# print(a.index(6)) # 찾는 값이 없으면 error
a.insert(0,"Hello") # 0번째 인덱스에 "Hello"삽입, 나머지는 뒤로 밀리게 됨
# 특정 위치에 값을 삽입 가능
a

1

['Hello', 1, 2, 3, 4, 5]

In [5]:
a = [1,2,3,4,5,3]
a.remove(3) # 첫번째로 발견한 것만 지움
a

[1, 2, 4, 5, 3]

In [7]:
a = [1,2,3,4,5]
print(a.pop()) # 값을 정하지 않으면 마지막값을 뜯어와버림, 리스트에서 없어짐
print(a)

5
[1, 2, 3, 4]

In [8]:
a = [1,2,3,4,5]
print(a.pop(2)) # 해당 위치를 정해서 뜯어올 수 있음

3

In [10]:
a = [1,2,3,4,5,1,2,1,3,4]
print(a.count(1)) # ()안에 있는 요소가 몇개 있는지 알아내서 알려줌 count

3

In [16]:
a = [1,2,3]
b = [1,2,3]
b = a[:] # b = [1,2,3]
print(b)
print(a == b) # a,b의 내용이 같니?
print(id(a)) # a라는 값이 가진 메모리주소를 출력하게 됨
print(a is b) # a와 b가 동일한지,, 메모리 주소가 같은지!

[1, 2, 3]
True
2579141770568
False

# Sequence Type: Tuple
* List와 거의 동일 
* List는 대괄호로 표현 [ ] 
* Tuple은 소괄호로 표현 () 
* 파이썬만 가지고 있는 자료형식 
* a = () # 빈튜플 의미함

In [20]:
a = () # empty tuple
print(type(a))
myList = [1]
print(type(myList))
myTuple = (1) # 요소가 1개인 튜플은 리스트처럼 표현하면 안됨
print(type(myTuple)) # integer로 인식해버림
myTuple = (1,) # 튜플의 괄호임을 인식해주기 위해 ,를 찍어 표현
print(type(myTuple))

<class 'tuple'>
<class 'list'>
<class 'int'>
<class 'tuple'>

## list와 tuple의 차이점을 알아보자

In [24]:
myTuple = (1,2,3)         # 인덱싱 가능
myList = [1,2,3]       # 인덱싱 가능
myTuple[0:2] # 튜플을 슬라이싱 하니 슬라이싱이 나옴 
# myTuple.[0] = 100 # 튜플은 값을 바꿀 수 없음!! 값을 얻어올 수는 있으나 변경 불가능
# 리스트와 튜플의 가장큰 차이점 # Error # read Only

myTuples = 1,2,3,4,5 # 괄호 생략가능
myTuples
# tuple은 함수를 거의 안씀, 변경불가능, readonly 특성 활용

(1, 2, 3, 4, 5)

In [27]:
a,b,c = 10,20,30
(a,b,c) = (10,20,30)
print(a,b,c)

10 20 30

In [29]:
a = [1,2,3] # List
b = tuple(a) # Tuple로 변환
b
c = list(b) # 다시 리스트로 변환
c

[1, 2, 3]

# Sequence Type: Range

In [33]:
range1 = range(10) # 1~10까지 단조 출력, 순열
print(range1) # 출력해도 그냥 범위로 나오게 됨 # 0~9까지, 10은 제외

range2 = range(1,11,2) # 1~11까지, 2씩 증가. 11은 미포함. 마지막은 항상 미포함
print(range2) # for문 돌릴 때 주로 사용하게 됨!
# [1,3,5,7,9] 형태로 인식

range(0, 10)
range(1, 11, 2)

# Dict
## sequence type: list, tuple, range 
### 각각의 생김새 특성 기억하기
## mapping type: dict
* key와 value의 쌍으로 표현되는 자료구조
* JSON, 완전동일
* {key:value}

In [36]:
a = {"이름":"홍길동","나이":30} # key값은 정해져있는 불변의 값 사용!
print(type(a))

<class 'dict'>

In [37]:
# list는 key로 사용할 수 없음
# tuple은 key로 사용할 수 있음
a[10] = "호호호" # a[key] = "value" #순서 없음

In [38]:
a

{'이름': '홍길동', 'age': 30, 10: '호호호'}

In [39]:
print(a["age"])

30

In [41]:
a["hoppy"]="Game"
a 
# key값을 두개 동일한걸 쓰면 안됨

{'이름': '홍길동', 'age': 30, 10: '호호호', 'hoppy': 'Game'}

In [44]:
# key값 튜플로 주기 //
a = {"name":"홍길동",("address",):"서울"}
a

{'name': '홍길동', ('address',): '서울'}

In [47]:
# 서울을 뽑으려면?
print(a['address',])

서울

### Dict 함수

In [57]:
a = {"name":"Kim","age":20,"address":"Seoul"}
# value를 뽑고싶어요! 기본적으로 key값을 알아야 함
# key값만 알아내려면?
a.keys() # 해당 딕셔너리의 키만 뽑음 
# list 와 유사한 자료구조, dict_keys 자료구조로 리턴
myKey = a.keys()
print(myKey) #list는 아님
myList = list(myKey) # list로 변환가능
print(myList) # list로 뽑기!!ㅎㅎ
# value만 가져오기
myVal = a.values()
print(myVal) # dict형식으로 가져옴
myList2 = list(myVal)
print(myList2) # list로 변환

dict_keys(['name', 'age', 'address'])
['name', 'age', 'address']
dict_values(['Kim', 20, 'Seoul'])
['Kim', 20, 'Seoul']

In [63]:
# 원하는 키밸류만 가져오려면?
# 튜플로 가져올 수 있음
myItem = a.items()
print(myItem)
# dict안에 있는 모든 키와 밸류를 출력하세요
# for문 이용
for k in a.keys(): # for 문이 끝나면 항상 :콜론
    print(a[k]):

dict_items([('name', 'Kim'), ('age', 20), ('address', 'Seoul')])
Kim
20
Seoul

In [3]:
a = {"name":"Kim","age":20,"address":"Seoul"}
for t in a.keys():
    print("{} - {}".format(t,a[t]))
print("집에갈래")

name - Kim
age - 20
address - Seoul
집에갈래

In [4]:
print("age" in a, end="\n") # 특정 key값이 dict에 있는지 확인

True

In [8]:
print("hello","world",end="\n")

hello world

## if문

In [16]:
area = ["Seoul","Busan","Jeju"]
if "Suwon" in area:
    print("수원이 있어요!")
elif "Seoul" in area:
    print("서울이 있어요!")
else:
    print("아무것도 없어요")

서울이 있어요!

In [17]:
if "ee" in area:
    pass # 하는일이 아무것도 없어요
else:
    print("good")

good

## for문

In [20]:
for k in range(10):
    print("k값은: {}".format(k))

k값은: 0
k값은: 1
k값은: 2
k값은: 3
k값은: 4
k값은: 5
k값은: 6
k값은: 7
k값은: 8
k값은: 9

## while문 조건이 만족할 때까지

In [21]:
test = 1
while test < 10:
    print("test값은 {}".format(test))
    test+= 1 # test = test + 1

test값은 1
test값은 2
test값은 3
test값은 4
test값은 5
test값은 6
test값은 7
test값은 8
test값은 9